pkgbase = minisforum-v3-pcie-aspm-config
	pkgdesc = Configuration to apply active-state power management (ASPM) on supported devices on the Minisforum V3. Uses kernel cmdline option and udev rules
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/trijpstra-fourlights/minisforum-v3-pcie-aspm-config
	install = minisforum-v3-pcie-aspm-config.install
	arch = any
	license = MIT
	depends = udev
	optdepends = mkinitcpio-cmdline-pacman-hook: Automatically run mkinitcpio when cmdline params are modified by pacman
	source = pcie-aspm.conf
	source = 99-minisforum-v3-pcie-aspm.rules
	sha256sums = 2c2956d29b58da3fa19866ee62af6a3904628ec84186f6deb87632d2a6579b1d
	sha256sums = da1cef838ef50f8b4163c5f46af78297edb3e1cff4e0ec77e10f293e02c812b7

pkgname = minisforum-v3-pcie-aspm-config
